$textColor: (
    white: #fff,
    purple: #8D81AC,
    grey: #848E97,
    black: #323232,
);

$backGrounds: (
    transparent: transparent,
    header: #27262A,
    headerMenu: #333,
    trueWhite: #fff,
    white: #E5E5E5,
    purple: #8D81AC,
    whiteTransparent15: rgba(255,255,255,.15)

)