.talking-about
{
   
    &__bg
    {
        background: bgColor(trueWhite) url(../img/talking-about/bg-talking-about.png) no-repeat top center;
        background-size: cover;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 15px;
    }

    &__title
    {
        font-size: 36px;
        text-transform: capitalize;
        padding-top: 86px;
    }
    &__text
    {
        @include fontCss(14px,700,21px);
        color: #A291A5;
        font-family: Lato;
    }
    &__text:after
    {
        content: '';
        display: block;
        margin-top: 20px;
        border-top: 2px solid #645766;
        margin-left: auto;
        margin-right: auto;
    }

    &__list
    {
        @include flex(column,center,center);
        padding-top: 50px;
        padding-bottom: 40px;
    }
    &__item
    {
        margin-bottom: 45px;
        height: 150px;
    }
    &__item-image
    {
        @include flex(column,center, center);
        height: 80px; //задаем высоту, чтобы были автоматические отступы от текста
    }
    &__item-image img
    {
        max-width: 100%;
    }
    &__item-text
    {
        @include fontCss(16px,700,24px);
        color: textColor(white);
        font-family: Lato;
        font-style: italic;
    }

    @media(min-width: 481px)
    {
        &__bg
        {
            padding-left: 10px;
            padding-right: 10px;
        }
        &__title
        {
            font-size: 42px;
            padding-top: 83px;
        }
        &__text
        {
            // margin-top: 70px;
        }
        &__text:after
        {
            max-width: 80%;
        }
        &__list
        {
            @include flex(row,space-between);
            flex-wrap: wrap;
        }
        &__item
        {
            width: calc(100%/2 - 30px);
            margin-bottom: 60px;
        }
    }

    @media(min-width: 993px)
    {
        &__bg
        {
            padding-left: 80px;
            padding-right: 80px;
        }
        &__title
        {
            font-size: 48px;
            padding-top: 53px;
        }
        &__item
        {
            width: calc(100%/3 - 180px/3);
            margin-bottom: 110px;
        }
        &__text
        {
            // margin-top: 120px;
        }
        &__text:after
        {
            max-width: 90%;
        }
    }
}